<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
	<?include ../Includes.wxi?>

	<Fragment>
		<!-- Regs for shortcuts are defined in "Fragments/ShortcutProperties.wxs" -->
		<!-- Component that persists the property values to the registry so they are available during an upgrade/modify -->
		<DirectoryRef Id="INSTALLFOLDER_INNER">
			<Component Id="Product.Registry.InstallFolder" Guid="40e7dbf6-e4bf-45e4-8f63-2bef96d22224">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)">
					<RegistryValue Type="string" Name="INSTALLFOLDER" Value="[INSTALLFOLDER_INNER]" />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.DefaultIcon" Guid="3ee0a977-dd8b-45ee-a943-05e8535f4755">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\DefaultIcon">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.Product).exe",0' />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.CommandPlay" Guid="c1ee7cc4-e1f1-4905-ba2f-884856c1ddcd">
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell" />
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell\open" />
				<RegistryKey Root="HKCR" Key="$(var.RegKeyRoot)\shell\open\command">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.Product).exe" --play "%1"' />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.URLProtocol" Guid="11d504db-6bd8-4c1c-a6da-752be9d63a02">
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)">
					<RegistryValue Type="string" Name="URL Protocol" Value="" />
				</RegistryKey>
			</Component>

			<Component Id="Product.Registry.Command" Guid="63ab8ccb-c06f-487b-9d5a-edc3ec66ed3b">
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)\shell" />
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)\shell\open" />
				<RegistryKey Root="HKCR" Key="$(var.ProductLower)\shell\open\command">
					<RegistryValue Type="string" Value='"[INSTALLFOLDER_INNER]$(var.Product).exe" "%1"' />
				</RegistryKey>
			</Component>

			<!--For compatibility with registry values from previous versions-->
			<Component Id="Product.Registry.UninstallApp" Guid="2fdf83da-61f2-46ca-a43c-50d24f3e1a33">
				<RegistryKey Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\$(var.Product)" >
					<RegistryValue Type="string" Name="BuildDate" Value="$(var.BuildDate)" />
					<RegistryValue Type="string" Name="share_rdp" Value="" />

					<!--$ArpStart$-->
					<!--https://learn.microsoft.com/en-us/windows/win32/msi/property-reference-->
					<RegistryValue Type="string" Name="DisplayName" Value="Deskon" />
					<RegistryValue Type="string" Name="DisplayIcon" Value="[INSTALLFOLDER_INNER]Deskon.exe" />
					<RegistryValue Type="string" Name="DisplayVersion" Value="1.0.0.29372388" />
					<RegistryValue Type="string" Name="Publisher" Value="PURSLANE" />
					<RegistryValue Type="string" Name="InstallDate" Value="20251105" />
					<RegistryValue Type="string" Name="InstallLocation" Value="[INSTALLFOLDER_INNER]" />
					<RegistryValue Type="string" Name="InstallSource" Value="[InstallSource]" />
					<RegistryValue Type="integer" Name="Language" Value="[ProductLanguage]" />
					<RegistryValue Type="integer" Name="EstimatedSize" Value="69427416" />
					<RegistryValue Type="expandable" Name="ModifyPath" Value="MsiExec.exe /X [ProductCode]" />
					<RegistryValue Type="integer" Id="NoModify" Value="1" />
					<RegistryValue Type="expandable" Name="UninstallString" Value="MsiExec.exe /X [ProductCode]" />
					<RegistryValue Type="expandable" Name="QuietUninstallString" Value="MsiExec.exe /qn /X [ProductCode]" />
					<RegistryValue Type="string" Name="Version" Value="1.0.0.29372388" />
					<RegistryValue Type="integer" Name="VersionMajor" Value="1" />
					<RegistryValue Type="integer" Name="VersionMinor" Value="0" />
					<RegistryValue Type="integer" Name="VersionBuild" Value="0" />
					<RegistryValue Type="integer" Name="WindowsInstaller" Value="1" />
					<RegistryValue Type="string" Name="Comments" Value="!(loc.AR_Comment)" />
					<RegistryValue Type="string" Name="Contact" Value="https://github.com/rustdesk/rustdesk" />
					<RegistryValue Type="string" Name="HelpLink" Value="https://github.com/rustdesk/rustdesk/issues/" />
					<RegistryValue Type="string" Name="ReadMe" Value="https://github.com/rustdesk/rustdesk" />
					<!--$ArpEnd$-->
				</RegistryKey>
			</Component>
		</DirectoryRef>

	</Fragment>
</Wix>
